@font-face {
  font-family: "Casper";
  src: url(/assets/font/Casper-Regular.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Roboto-Light";
  src: url(/assets/font/Roboto-Light.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Roboto-Thin";
  src: url(/assets/font/Roboto-Thin.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
}
