<style>
    .pagination li {
        float: left;
        list-style-type: none;
        padding-right: 16px;
    }
</style>

{% if paginator.total_pages > 1 %}
<ul class="pagination" id="pagination">
    {% if paginator.first_page %}
    <li><a href="{{ paginator.first_page_path | prepend: site.baseurl | replace: '//', '/' }}">&#171;</a></li>
    {% else %}
    <li class="disabled"><a href="#pagination">&#171;</a></li>
    {% endif %}

    {% if paginator.previous_page %}
    <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&#8249;</a></li>
    {% else %}
    <li class="disabled"><a href="#pagination">&#8249;</a></li>
    {% endif %}

    {% if paginator.page_trail %}
    {% for trail in paginator.page_trail %}
    <li {% if page.url == trail.path %}class="active"{% endif %}>
        <a href="{{ trail.path | prepend: site.baseurl | replace: '//', '/' }}" title="{{trail.title}}">{{ trail.num }}</a>
    </li>
    {% endfor %}
    {% endif %}

    {% if paginator.next_page %}
    <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&#8250;</a></li>
    {% else %}
    <li class="disabled"><a href="#pagination">&#8250;</a></li>
    {% endif %}

    {% if paginator.last_page %}
    <li><a href="{{ paginator.last_page_path | prepend: site.baseurl | replace: '//', '/' }}">&#187;</a></li>
    {% else %}
    <li class="disabled"><a href="#pagination">&#187;</a></li>
    {% endif %}
</ul>

<br/>&nbsp;
{% endif %}